body{
    background: url(Rules.jpg);
    background-repeat: no-repeat; 
	background-position: center;
	background-size: cover; 
	position: relative;
}

h1{
    text-align: center !important;
    /* text-decoration: underline; */
    font-size: 50px;
    padding-bottom: 5%;
    padding-top: 3%;
    font-family: var(--font-secondary);
}

li{
    font-size: 20px;
    text-align: left;
    padding: 5px;
}

.text{
    color: black;
    /* text-align: left !important; */
    /* text-align: center; */
}