body{
    background: url(Aboutus.jpg);
    padding-top: 130px;
    background-repeat: no-repeat; 
	background-position: center;
	background-size: cover; 
	position: relative;
}

h2{
    color: black !important;
    text-align: center;
}

p{
    color: black !important;
    text-align: justify;
}